:root{
    ---btn-color:#FF753A;
    ---heading-color:#505050;
}

@font-face {
    font-family: 'Work Sans';
    src: url('./fonts/WorkSans-Bold.woff2') format('woff2'),
        url('./fonts/WorkSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('./fonts/2') format('woff2'),
        url('./fonts/') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('./fonts/WorkSans-SemiBold.woff2') format('woff2'),
        url('./fonts/WorkSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
    max-width: 100%;
    height: auto;
}

html{
  height: 100vh;
}

body{
display: flex;
flex-direction: column;
width: 100%;
height: 100vh;
padding: 0;
margin: 0;
font-family: 'Work Sans','Arial',sans-serif;
font-weight: normal;
background-color: white;
color: #767676;
line-height: 1.3;
font-size: 16px;

}


.container{
    width: 100%;
    max-width: 1440px;
    padding-left: 88px;
    padding-right: 88px;
    margin-left: auto;
    margin-right: auto;
}


/* PROJECT STYLES  */

.wrapper {
    width: 100%;
   height: 810px;
    background-image: url(../img/header-bg.png);
    background-repeat: no-repeat;
    background-position:  right center;
    background-size: cover;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 323px;
}

.header {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 61px;
}
.header__holder {
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.logo {
}
.logo__img {
width: 255px;
height: 40px;
object-fit: contain;
}
.header__menyu {
    margin-left: 24px;
}
.header__list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 24px;

}
.header__item {
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    border-bottom: 3px solid transparent;

}
.header__link {
    text-decoration: none;
    color: #FCFCFC;
    padding-bottom: 10px;

}
.header__link_underline:hover {

   border-bottom: 3px solid #fff;
}
.icon {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}
.icon__list {
    display: flex;
    align-self: center;
    list-style: none;
    gap: 8px;
}
.icon__item {
width: 40px;
height: 40px;

}

.icon__link{
    color:#fff;
}

.icon__link:hover{
    color: yellow;
}

.header__title{
    transform: translateY(50%);
}

.header__text{
font-weight: bold;
font-size: 56px;
line-height: 1.2;
letter-spacing: 2px;
 color:#fff;
}


.wrap {


}

.hero{
    position: relative;
}
.hero-style {
    position: absolute;
    top: 0;
     transform: translateY(-50%);
      background-image:url(../img/Mobile.png);
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color:rgba(171, 4, 51);
    border-radius: 10px;
    width: 1264px;

}
.wrap__header {
    font-weight: bold;
    font-size: 46px;
    line-height: 1.2;
    color: #fff;
}
.wrap__text {
    font-weight: 600;
font-size: 24px;
line-height: 1.5;
margin-bottom: 16px;
text-align: center;
color:#fff;
}

.button{
    display: flex;
  width: 200px;
  height: 34px;
  border-radius:32px;
  background-color:var(---btn-color);
  align-items: center;
   justify-content: center;
 padding: 10px 16px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;

  transition: background-color 0.4s ease,
  color 0.4s ease, border 0.4s ease;
  border: 2px solid transparent;
}


.button:hover{
    background-color: white;
     color: lightgreen;
     border: 2px solid green;
}


.hero__inner {
    padding-top: 50px;
    padding-bottom: 88px;
    position: relative;
    position: relative;
    top: 150px;
}
.heading {
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.heading__divider {
    position: relative;
    left: calc((100% / 2) - 40px);
    width: 80px;
    height: 3px;
background-color:#AB0433;
border-color: transparent;
}
.heading__subtitle {
    text-align: center;
    color: var(---heading-color);
line-height: 1.2;
font-size: 40px;
}
.features {

}


.features {
}
.features__list {
    display: grid;
    grid-template-columns: repeat(3,400px);
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    list-style: none;
    padding-top: 80px;
    gap:32px ;
}
.features__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   box-shadow: 0 4px 4px 0  rgba(0, 0, 0, 0.25);
   border-radius: 10px;
   overflow: hidden;
cursor: pointer;


}



.features__img {
    width: 400px;
    object-fit: cover;
    background-color: rgba(119, 119, 119,0.25);
    margin-bottom: 16px;
}

.features__hero{
  padding: 16px 24px;
}
.features__inner {
display: flex;
justify-content: space-between;
font-size: 18px;
color:#000;

}

strong{
    color: #000;
}
.features__heading {


}
.features__cost {

}
.features__text {
    margin-top: 3px;
    margin-bottom: 6px;
    transition: color 0.4s ease;
}
.features__text:hover{
    color: lightskyblue;
}
.features__footer {

}
.features___quantity {
    display: flex;
    width: 200px;
     padding: 5px;
     border: 1px solid #777;
     border-radius: 15px;
     gap: 5px;
     align-items: center;
     transition: border 0.4s ease,
      color 0.4s ease;
}

.features___quantity:hover{
    border: 1px solid blue;
    color: yellowgreen;
}





@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

  /* Retina-specific stuff here */

  .wrapper{
    background-image: url(../img/header-bg@2x.jpg);
    background-repeat:no-repeat;
    background-position:right center;
    background-size:cover;
}
}
