:root{
    ---btn-color:#FF753A;
    ---heading-color:#505050;
    ---divider-color:#AB0433;
}

@font-face {
    font-family: 'Work Sans';
    src: url('./fonts/WorkSans-Bold.woff2') format('woff2'),
        url('./fonts/WorkSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('./fonts/2') format('woff2'),
        url('./fonts/') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('./fonts/WorkSans-SemiBold.woff2') format('woff2'),
        url('./fonts/WorkSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
    max-width: 100%;
    height: auto;
}

html{
  height: 100vh;
}

body{
display: flex;
flex-direction: column;
width: 100%;
height: 100vh;
font-family: 'Work Sans','Arial',sans-serif;
font-weight: normal;
background-color: white;
color: #767676;
line-height: 1.3;
font-size: 16px;

}


.container{
    width: 100%;
    max-width: 1440px;
    padding-left: 88px;
    padding-right: 88px;
    margin-left: auto;
    margin-right: auto;
}


.header {
     background-image:url(../img/header-bg.png);
     background-repeat: no-repeat;
     background-size: 100% 800px;
}
.header__inner {

    height: 810px;
    padding-top: 55px;
    padding-bottom: 320px;
}

.header__box{
    display: flex;
    align-items: center;
}
.logo {
    display: inline-block;
}
.logo__link {
    display: block;

}

 .logo__link:hover{
    opacity: 0.8;
 }
.logo__img {
  width: 255px;
  height: 40px;
  object-fit: contain;
}
.logo-focus {
}

.header__nav {
    display: flex;
    align-items:center;
    flex-grow: 1;
    justify-content: space-between;
    margin-left: 24px;
}
.header__list {
    display: flex;
    list-style: none;
    gap: 24px;
}
.header__item {
     padding: 8px 15px;
    border-bottom:3px solid  transparent;
    transition: border-bottom 0.8s ease;
}


.header__item:hover{
    border-bottom:3px solid orange;

}
.header__link {
    text-decoration: none;
color:#FCFCFC;
font-size: 18px;
line-height: 1.3;

}

.header__link:active{
    opacity: 0.5;
}



.icons {
    display: flex;
    gap: 24px;
    align-items: center;
    color:#fff;
}
.icons__icon:hover{
    color:orange;
     cursor: pointer;
}

.header__heading{
    display: inline-block;
    color:#fff;
    transform: translateY(50%);
    margin: 0;
    line-height: 1.2;
    font-size: 56px;
    letter-spacing: 2px;
}

/* HERO SECTION STYLES  */




.hero {
}
.hero__wrapper {

}
.container {
}
.box-advertising {
    position: relative;
     transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 50px 324px;
    background-image:url(../img/Mobile.png);
    background-repeat: no-repeat;
    background-size:cover;
     overflow: hidden;
     border-radius: 10px;
     border:1px solid transparent;
     color: #fff;
}
.box-advertising__heading {

    text-transform: uppercase;
 font-size: 46px;
 line-height: 1.2;

}
.box-advertising__text {
text-align: center;
font-size: 24px;
line-height: 1.5;
margin-bottom: 16px;
}
.btn {
    display: flex;
    align-items:center;
    justify-content: center;
   text-transform: uppercase;
   border-radius:18px;
    background-color: var(---btn-color);
    text-decoration: none;
    color:#fff;
padding: 8px 16px;
transition: background-color 0.4s ease,
color 0.4s ease;
}

.btn:hover{
    background-color: #fff;
    color:var(---btn-color);
}



.hero__widget {
    display: flex;
    flex-direction: column;
  padding-bottom: 88px;
}
.box {

}
.divider {
    height: 3px;
    background-color:var(---divider-color);
width: 80px;
     transform: translate(50%);
     position: relative;
     left: calc(50% - 80px);
     margin-bottom: 8px;
}
.box__heading {
    font-weight: bold;
    font-size: 40px;
    line-height: 1.2;
color:var(---heading-color);
text-align: center;
margin-bottom: 15px;
}
.features {
}
.features__list {
    display: grid;
    grid-template-columns: repeat(3,400px);
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    gap: 32px;
}
.feature__item {
    display: flex;
    flex-direction: column;
 border-radius: 10px;
 box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
 overflow: hidden;

}

.feature__img{
    background-color:rgb(119, 119, 119,0.3);
}

.feature__wrapper{
    display: flex;
    flex-direction: column;
 padding: 16px 24px 24px;
}
.features__properties {
    display: flex;
    justify-content: space-between;

    align-items: center;
}
.features__properties-info {
    color:#252525;
    font-weight: 600;
}


.features__properties-custom {
}
.features__info {
 margin-bottom: 10px;
 transition: color 0.4s ease;
}

.features__info:hover{
    cursor: pointer;
    color: lightskyblue;
}
.features__available {
    display: inline-block;
    align-items: center;
    padding: 5px;
    border:1px solid #777;
    border-radius: 15px;
    width: 150px;
}

strong{
    margin-right: 10px;
}

.products{
    background-color:rgb(136, 136, 136,0.2);
    padding-top: 88px;
    padding-bottom: 88px;
}

.product-img{
    background-color: #fff;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

  /* Retina-specific stuff here */
  .header{
    background-image:url(../img/header-bg@2x.jpg);
  }
  .box-advertising{
    background-image:url(../img/Mobile@2x.png);
  }
}
