:root{
    ---btn-color:#FF753A;
    ---heading-color:#505050;
}

@font-face {
    font-family: 'Work Sans';
    src: url('./fonts/WorkSans-Bold.woff2') format('woff2'),
        url('./fonts/WorkSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('./fonts/2') format('woff2'),
        url('./fonts/') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('./fonts/WorkSans-SemiBold.woff2') format('woff2'),
        url('./fonts/WorkSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
    max-width: 100%;
    height: auto;
}

html{
  height: 100vh;
}

body{
display: flex;
flex-direction: column;
width: 100%;
height: 100vh;
padding: 0;
margin: 0;
font-family: 'Work Sans','Arial',sans-serif;
font-weight: normal;
background-color: white;
color: #767676;
line-height: 1.3;
font-size: 16px;

}


.container{
    width: 100%;
    max-width: 1440px;
    padding-left: 88px;
    padding-right: 88px;
    margin-left: auto;
    margin-right: auto;
}


.header {
     background-image:url(../img/header-bg.png);
     background-repeat: no-repeat;
     background-size: 100% 800px;
}
.header__inner {

    height: 810px;
    padding-top: 55px;
    padding-bottom: 320px;
}

.header__box{
    display: flex;
    align-items: center;
}
.logo {
    display: inline-block;
}
.logo__link {
    display: block;

}

 .logo__link:hover{
    opacity: 0.8;
 }
.logo__img {
  width: 255px;
  height: 40px;
  object-fit: contain;
}
.logo-focus {
}

.header__nav {
    display: flex;
    align-items:center;
    flex-grow: 1;
    justify-content: space-between;
    margin-left: 24px;
}
.header__list {
    display: flex;
    list-style: none;
    gap: 24px;
}
.header__item {
     padding: 8px 15px;
    border-bottom:3px solid  transparent;
    transition: border-bottom 0.8s ease;
}


.header__item:hover{
    border-bottom:3px solid orange;

}
.header__link {
    text-decoration: none;
color:#FCFCFC;
font-size: 18px;
line-height: 1.3;

}

.header__link:active{
    opacity: 0.5;
}



.icons {
    display: flex;
    gap: 24px;
    align-items: center;
    color:#fff;
}
.icons__icon:hover{
    color:orange;
     cursor: pointer;
}

















@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

  /* Retina-specific stuff here */
}
